---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
---
Language: Cpp
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true
BreakBeforeBraces: Custom
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveAssignments: Consecutive
AllowAllParametersOfDeclarationOnNextLine: false
AlignOperands: Align
AlignTrailingComments: true
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: Never
AllowShortIfStatementsOnASingleLine: Never
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
InsertBraces: true
Standard: c++20
---
Language: JavaScript
# Use 100 columns for JS.
ColumnLimit: 100
---
Language: Proto
# Don't format .proto files.
DisableFormat: true